<template>
	<section class="about-gen-c-landing-page w-100 bg-cl-th-accent cl-white">
		<a-row>
			<a-row class="aboutGenCHealthClass" style="text-align: center; padding: 3em 25vw">
				<span id="AboutUsID"></span>
				<span style="width: 100%; font-size: 22px; font-weight: 500;color: #1ec1ad">
					About
				</span>
				<h1 style="width: 100%; font-size: 40px; color: #000; font-weight: bold">
					GenC Health
				</h1>
				<p style="width: 100%; font-size: 16px; color:#b1afaf; font-weight: 500">
					You're joining GenC Health Platform during this extraordinary time. No matter what, we're here to help keep you and your love ones healthy. 
					You can quickly and easily get care wherever you go with GenC Health. Just chat or video call with a GenC expert and request a free GenC Health Traveler Account to get started.
				</p>
			</a-row>
			<a-row style="padding:2vh 5vw;" class="panelcardetailClass">
				<a-row :gutter="36" style="text-align: center" >
					<a-col :xs="24" :sm="24" :md="8" :lg="8" :xl="8" :xxl="8" style="padding-bottom: 10px;">
						<a-card hoverable >
							<img
							  alt="Medical Travel Insurance"
							  src="/assets/images_landingpage/design/MedicalTravel.png"
							  style="width: 20%"
							  center 
							/>
							<a-card-meta title="Medical Travel Insurance" style="padding-top: 2em">
								<template slot="description">
									<a-row style="text-align: center; justify-content: center; align-items: center; padding-top: 10px">
										<p style="width: 100%; font-size: 16px; color:#b1afaf; font-weight: 500">
											GenC Health international travel & health insurance plans can cost less than $5/week, based on an average plan
										</p>
										<a-button @click="this.onclickCardMedicalTravelInsurance" type="primary" shape="round" style="border: none; background-color: #fe8c00; font-weight: 500">
											LEARN MORE
										</a-button>
									</a-row>
								</template>
							</a-card-meta>
						</a-card>
					</a-col>
					<a-col :xs="24" :sm="24" :md="8" :lg="8" :xl="8" :xxl="8" style="padding-bottom: 10px;">
						<a-card hoverable >
							<img
							  alt="GenC North America"
							  src="/assets/images_landingpage/design/NorthAmerica.png"
							  style="width: 20%"
							  center
							/>
							<a-card-meta title="GenC North America" style="padding-top: 2em">
								<template slot="description">
									<a-row style="text-align: center; justify-content: center; align-items: center; padding-top: 10px">
										<p style="width: 100%; font-size: 16px; color:#b1afaf; font-weight: 500">
											GenC remote medical support and executive team are based near The Great Salt Lake, Utah, USA
										</p>
										<a-button @click="this.onclickCardNorthAmerica" type="primary" shape="round" style="border: none; background-color: #fe8c00; font-weight: 500">
											LEARN MORE
										</a-button>
									</a-row>
								</template>
							</a-card-meta>
						</a-card>
					</a-col>
					<a-col :xs="24" :sm="24" :md="8" :lg="8" :xl="8" :xxl="8" style="padding-bottom: 10px;">
						<a-card hoverable>
							<img
							  alt="GenC Southeast Asia"
							  src="/assets/images_landingpage/design/SouthEastAssia.png"
							  style="width: 20%"
							  center
							/>
							<a-card-meta title="GenC Southeast Asia" style="padding-top: 2em">
								<template slot="description">
									<a-row style="text-align: center; justify-content: center; align-items: center; padding-top: 10px">
										<p style="width: 100%; font-size: 16px; color:#b1afaf; font-weight: 500">
											GenC.Heanth platform and teledoc technical support team are based in Singapore and Vietnam
										</p>
										<a-button @click="this.onclickCardSoutheastAsia" type="primary" shape="round" style="border: none; background-color: #fe8c00; font-weight: 500">
											LEARN MORE
										</a-button>
									</a-row>
								</template>
							</a-card-meta>
						</a-card>
					</a-col>
					
					
				</a-row>
				<a-row style="width: 100%" v-if="isShowPanel">
					<a-row style="text-align: right; width:100%">
						<a style="fontSize: 30px" @click="this.hidePanelCard">X</a>
					</a-row>
					<a-row style="width:100%">
						<a-row
							v-if="statecard == 'MedicalTravel' "
							style="width: 100%; background-color: #f2f7f9"
						>
							<a-row style="width: 100%">
								
								<a-col 
									:xs="24" :sm="24" :md="14" :lg="14" :xl="14"  :xxl="14" 
									style="padding: 5px"
								>
									<img src="/assets/images_landingpage/design/helicoper.png" style="width: 100%; height: 100%"/>
								</a-col>
								<a-col 
									:xs="24" :sm="24" :md="10" :lg="10" :xl="10"  :xxl="10" 
									style="padding: 0px"
								>
									<a-row style="width: 100%; padding: 5px">
										<img src="/assets/images_landingpage/design/photo15245650269287c62b93cf22c.png" style="width: 100%"/>
									</a-row>
									<a-row style="width: 100%; padding: 5px">
										<img src="/assets/images_landingpage/design/photo148822929757058520851e868.jpg" style="width: 100%"/>
									</a-row>
								</a-col>
							</a-row>
							<a-row class="textContentMedicalTravelClass" style="margin-top: 3em; justify-content: center; align-items: center; padding: 0px 10em; padding-bottom: 3em"> 
								<h2 style="width: 100%; color: #000; font-weight: bold">
									GenC Health travel medical insurance plans can cost less than $5 per week
								</h2>
								<p style="width: 100%; font-size: 16px; color:#b1afaf; font-weight: 500; text-align: left">
									No one wants to imagine being sick or injured on vacation; but if the worst happens, it pays (literally) to be prepared. Medical travel insurance can save you considerable hassle, time and money, and offer you peace of mind if you encounter health problems while traveling.
									<br/>
									<br/>
									It’s also important to consider the costs of an emergency medical evacuation, which can range between $20,000 and $170,000 USD, depending on where you are located and how far you need to be transported to the nearest qualified medical facility.
									<br/>
									<br/>
									Ask yourself this: Can you afford these expenses? If not, you should consider purchasing a travel medical insurance policy.
								</p>
								<a-button type="primary" @click="this.handleClickTryGenC" shape="round" size="large" style="border: none; background-color: #fe8c00; font-weight: 500; width: 100%">
									Chat or Video Call with a GenC Health Expert
								</a-button>
								
							</a-row>
							
						</a-row>
						<a-row v-if="statecard == 'NorthAmerica' " class="carouselpanelClass" style="width: 100%; background-color: #f2f7f9">
							<a-carousel style="width: 100%">
								<div>
									<img src="/assets/images_landingpage/design/wells-fargo-center-1.jpg" style="width: 100%; margin-bottom: 1em"/>
									<h3 style="margin: 0px; text-align: center">Wells Fargo Center, Salt Lake City, Utah</h3>
								</div>
								<div>
									<img src="/assets/images_landingpage/design/wells-fargo-center-1.jpg" style="width: 100%; margin-bottom: 1em"/>
									<h3 style="margin: 0px; text-align: center">Wells Fargo Center, Salt Lake City, Utah</h3>
								</div>
							</a-carousel>
						</a-row>
						<a-row  v-if="statecard == 'SouthEastAssia' " class="carouselpanelClass" style="width: 100%; background-color: #f2f7f9">
							<a-carousel>
								<div>
									<a-row style="width: 100%; padding-bottom: 1em">
										<a-col 
											:xs="12" :sm="12" :md="12" :lg="12" :xl="12" :xxl="12"
											style=" margin: 0px"
										>
											<img src="/assets/images_landingpage/design/SoutheastAsia1.jpg" style="width: 100%;height: 100%;max-height: 40vh;"/>
										</a-col>
										<a-col 
											:xs="12" :sm="12" :md="12" :lg="12" :xl="12" :xxl="12"
											style=" margin: 0px"
										>
											<img src="/assets/images_landingpage/design/van_phong_tron_goi_Saigon_Centre_2.jpg" style="width: 100%; height: 100%; max-height: 40vh;"/>
										</a-col>
									</a-row>
									<h3 style="margin: 0px; text-align: center">Saigon Centre, Hochiminh City, Vietnam</h3>
								</div>
								
							</a-carousel>
						</a-row>
					</a-row>
				</a-row>
			</a-row>
			
			<a-modal
				:title="titleModalFindDoctorLocation"
				v-model="isdisplayFindDoctorsLocations"
				@cancel="this.handleCancelModalForDoctor"
				:footer="null"
				class="modalFindDoctorsLocationsClass"
				:destroyOnClose="true"
			>
				<a-row style="width: 100%;" className="displayFindDoctorsLocationsClass">
					<p style="color: red">
						<i>If you do not have a GenC Health User Id, please chat with our online support team for a signup link.</i>
					</p>
					<a-row style="width: 100%">
						<a-input size="large" placeholder="GenC Health User Id" @change="this.onchangeInputModalFindDoctorLocation" />
					</a-row>
					<a-row style="width: 100%; padding: 2em">
						<a-col 
							:xs="12" :sm="12" :md="12" :lg="12" :xl="12" :xxl="12"
						>
							<a-checkbox @change="this.onChangeRecaptcha" >I'm not a robot</a-checkbox>
						
						</a-col>
						<a-col 
							:xs="12" :sm="12" :md="12" :lg="12" :xl="12" :xxl="12"
							style="text-align: center"
						>
							<a-spin v-if="isCheckReCapchaCheckbox"/>
							<img v-if="!isCheckReCapchaCheckbox" shape="square" style="width: 50%" src="/assets/images_landingpage/design/recaptcha.jpg" />
						</a-col>
					</a-row>
					<h5 v-if="!isCheckReCapchaCheckbox && isClickCheckReCapchaCheckbox && (valueInputFindDoctorLocation == null || valueInputFindDoctorLocation == '')" style="color: red">Error: Input is require</h5>
					<h5 v-if="!isCheckReCapchaCheckbox && isClickCheckReCapchaCheckbox && (valueInputFindDoctorLocation != null && valueInputFindDoctorLocation != '')" style="color: red">Error: GenC Health's record not found!</h5>
				</a-row>
			</a-modal>
			
		</a-row>
	</section>
</template>

<script>

import { mapGetters } from 'vuex'


export default {
  components: {
    // ButtonOutline
  },
  data () {
    return {
		statecard: "",
		titleModalFindDoctorLocation: "",
		isShowPanel: false,
		isdisplayFindDoctorsLocations: false,
		isClickCheckReCapchaCheckbox: false,
		isCheckReCapchaCheckbox: false,
		fetchInputMyTeledoc: false,
    }
  },
  computed: {
    ...mapGetters({
      currentImage: 'promoted/getLandingPageImage'
    })
  },
	methods: {
		
		onclickCardMedicalTravelInsurance(){
			this.isShowPanel = true
			this.statecard = 'MedicalTravel'
		},
		onclickCardNorthAmerica(){
			this.isShowPanel = true
			this.statecard = 'NorthAmerica'
		},
		onclickCardSoutheastAsia(){
			this.isShowPanel = true
			this.statecard = 'SouthEastAssia'
		},
		hidePanelCard(){
			this.isShowPanel = false
			this.statecard = ''
		},
		handleClickTryGenC() {
		  this.isdisplayFindDoctorsLocations = true;
		  this.titleModalFindDoctorLocation = 'Chat or Video Call with a GenC Health Expert';
		},
		handleCancelModalForDoctor(){
			this.isdisplayFindDoctorsLocations = false;
			this.isClickCheckReCapchaCheckbox= false;
		},
		onChangeRecaptcha(e) {
			if(e != undefined && e.target.checked){
				this.isCheckReCapchaCheckbox= !this.isCheckReCapchaCheckbox;
				this.isClickCheckReCapchaCheckbox = true;
				if(this.isCheckReCapchaCheckbox){
					
					setTimeout(this.isCheckReCapchaCheckbox= !this.isCheckReCapchaCheckbox, 3000)
				}
				
			}
		},
		onchangeInputModalFindDoctorLocation(event){
			if(event != undefined && event != null && event.target.value != undefined){
				this.valueInputFindDoctorLocation = event.target.value;
			}
		},
	}
}
</script>

<style lang="scss" scoped>
.bg-cl-th-accent{
	background-color: #f8fcff
}
.about-gen-c-landing-page {
	@media (max-width: 767px) {
		.aboutGenCHealthClass{
			padding: 15px !important;
		}
		.textContentMedicalTravelClass .ant-btn{
			padding: 0 5px !important;
			font-size: 14px !important;
		}
		.textContentMedicalTravelClass{
			padding: 15px !important;
		}
	}
}


.ant-carousel >>> .slick-slide {
  text-align: center;
  height: 160px;
  line-height: 160px;
  background: #364d79;
  overflow: hidden;
}

.ant-carousel >>> .slick-slide h3 {
  color: #fff;
}

.panelcardetailClass .ant-card-bordered{
	background-color: #f2f7fa !important;
	
}

.panelcardetailClass .ant-card-cover{
	transform: translate(74%,10%);
    width: 50%;
    padding: 2em;
}
</style>
