<template>
	<section class="before-traveling-landing-page w-100 bg-cl-th-accent cl-white">
		<a-row style="padding: 0px 5vw">
			<a-row >
				<a-col 
					:xs="24" :sm="24" :md="12" :lg="12" :xl="12" :xxl="12"
					style="margin: 0px"
					class="imageBeforTravelingClass"
				>
					<img src="/assets/images_landingpage/design/Insurance.png" style="width: 100%; padding: 3em"/>
				</a-col>
				<a-col 
					:xs="24" :sm="24" :md="12" :lg="12" :xl="12" :xxl="12"
					style="margin: 0; padding: 3em 15px"
					class="beforeTravelingClass"
				>
					<span id="BeforTravelingID"></span>
					<span style="width: 100%; font-size: 18px; font-weight: 500; color: #1ec1ad">
						Before Traveling
					</span>
					<h1 style="width: 100%; font-size: 45px; color: #000; font-weight: bold">
						Travel Medical Insurance
					</h1>
					<p style="width: 100%; font-size: 16px; color:#b1afaf; font-weight: 500">
						We help you shop for medical coverage when travel outside of your home country. Get started by choosing a plan that's right for you or your loved ones before traveling.
					</p>
					
					<a-button type="primary" @click="this.showPanelBeforeTraveling" shape="round" size="large" style="border: none; background-color: #fe8c00; font-weight: 500">
						Shop Plans
					</a-button>
				</a-col>
			</a-row >
			<a-row v-if="isdisplayShopPlansContent">
				<a-row style="background-color:#f2f7f9; padding: 3em" class="displayShopPlansContentClass">
					<h4 style="text-align: center; width: 100%">
						<p style="color: #fe8c00; margin: 0px">24/7 EMERGENCY ASSISTANCE WORLWIDE</p>
						<p>COMPARE AND BUY TRAVEL INSURANCE FROM TRUSTED PROVIDERS INCLUDING</p>
					</h4>
					<a-row :gutter="48" style="width: 100%; margin: 0px;">
						<a-col class="cardItemClass" :xs="12" :sm="12" :md="8" :lg="8" :xl="8" :xxl="8" style="padding: 24px">
							<a-card hoverable >
								<img
								  alt="Before Traveling"
								  src="/assets/images_landingpage/design/MaskGroup8.png"
								  style="width: 100%"
								  center 
								/>
							</a-card>
						</a-col>
						<a-col  class="cardItemClass"  :xs="12" :sm="12" :md="8" :lg="8" :xl="8" :xxl="8" style="padding: 24px">
							<a-card hoverable >
								<img
								  alt="Before Traveling"
								  src="/assets/images_landingpage/design/MaskGroup9.png"
								  style="width: 100%"
								  center 
								/>
							</a-card>
						</a-col>
						<a-col  class="cardItemClass"  :xs="12" :sm="12" :md="8" :lg="8" :xl="8" :xxl="8" style="padding: 24px">
							<a-card hoverable >
								<img
								  alt="Before Traveling"
								  src="/assets/images_landingpage/design/MaskGroup10.png"
								  style="width: 100%"
								  center 
								/>
							</a-card>
						</a-col>
						<a-col  class="cardItemClass"  :xs="12" :sm="12" :md="8" :lg="8" :xl="8" :xxl="8"  style="padding: 24px">
							<a-card hoverable >
								<img
								  alt="Before Traveling"
								  src="/assets/images_landingpage/design/MaskGroup11.png"
								  style="width: 100%"
								  center 
								/>
							</a-card>
						</a-col>
						<a-col  class="cardItemClass"  :xs="12" :sm="12" :md="8" :lg="8" :xl="8" :xxl="8"  style="padding: 24px">
							<a-card hoverable >
								<img
								  alt="Before Traveling"
								  src="/assets/images_landingpage/design/MaskGroup12.png"
								  style="width: 100%"
								  center 
								/>
							</a-card>
						</a-col>
						<a-col  class="cardItemClass"  :xs="12" :sm="12" :md="8" :lg="8" :xl="8" :xxl="8"  style="padding: 24px">
							<a-card hoverable >
								<img
								  alt="Before Traveling"
								  src="/assets/images_landingpage/design/MaskGroup13.png"
								  style="width: 100%"
								  center 
								/>
							</a-card>
						</a-col>
						<a-col  class="cardItemClass"  :xs="12" :sm="12" :md="8" :lg="8" :xl="8" :xxl="8"  style="padding: 24px">
							<a-card hoverable >
								<img
								  alt="Before Traveling"
								  src="/assets/images_landingpage/design/MaskGroup14.png"
								  style="width: 100%"
								  center 
								/>
							</a-card>
						</a-col>
						<a-col  class="cardItemClass"  :xs="12" :sm="12" :md="8" :lg="8" :xl="8" :xxl="8"  style="padding: 24px">
							<a-card hoverable >
								<img
								  alt="Before Traveling"
								  src="/assets/images_landingpage/design/MaskGroup15.png"
								  style="width: 100%"
								  center 
								/>
							</a-card>
						</a-col>
						
					</a-row>
				</a-row>
			</a-row>
		</a-row>
	</section>
</template>

<script>

import { mapGetters } from 'vuex'


export default {
  components: {
    // ButtonOutline
  },
  data () {
    return {
		statecard: "",
		titleModalFindDoctorLocation: "",
		isdisplayShopPlansContent: false,
    }
  },
  computed: {
    ...mapGetters({
      currentImage: 'promoted/getLandingPageImage'
    })
  },
	methods: {
		showPanelBeforeTraveling() {
		  this.isdisplayShopPlansContent = !this.isdisplayShopPlansContent;
		},
		
	}
}
</script>

<style lang="scss" scoped>
.bg-cl-th-accent{
	background-color: #f8fcff
}
.before-traveling-landing-page {
	@media (max-width: 767px) {
		.beforeTravelingClass{
			padding: 15px !important;
		}
		.imageBeforTravelingClass img{
			padding: 15px !important;
		}
		
		.displayShopPlansContentClass{
			padding: 15px !important;
		}
	}

}


</style>
<style>
	.displayShopPlansContentClass .ant-card-body {
		padding: 0px !important;
	}
</style>
