<template>
	<section class="footer-landing-page w-100 bg-cl-th-accent cl-white">
		<a-row class="footerClass" style="background-color: #211f20; width: 100%; padding: 10vh 0px; padding-bottom: 0px">
			<a-row>
				<a-col 
					:xs="24" :sm="8" :md="8" :lg="8" :xl="8" :xxl="8"
					style="margin: 0px; text-align: center; padding: 0 5vh; padding-right: 15px"
					
				>
					<img class="imgageFooterClass" src="/assets/images_landingpage/design/Logo_footer.png" style="width: 65%"/>
				</a-col>
				<a-col 
					:xs="24" :sm="4" :md="4" :lg="4" :xl="4" :xxl="4"
					style="margin: 0px"
					class="textFooterClass"
				>
					<h4 style="color: #fff; width: 100%">Platform</h4>
					<p style="width: 100%; margin: 0px"><a href="#ForDoctorID" style="font-size: 15px; color: #a9a6a6">Space for Doctors</a></p>
					<p style="width: 100%;"><a href="#WelcometoGenCID" style="font-size: 15px; color: #a9a6a6">Space for Travelers</a></p>
				</a-col>
				<a-col 
					:xs="24" :sm="4" :md="4" :lg="4" :xl="4" :xxl="4"
					style="margin: 0px"
					class="textFooterClass"
				>
					<h4 style="color: #fff; width: 100%">Company</h4>
					<p style="width: 100%; margin: 0px"><a href="#AboutUsID" style="font-size: 15px; color: #a9a6a6">About GenC</a></p>
					<p style="width: 100%; margin: 0px"><a href="#WhileTravelingID" style="font-size: 15px; color: #a9a6a6">Doctor & Locations</a></p>
					<p style="width: 100%;"><a href="#BeforTravelingID" style="font-size: 15px; color: #a9a6a6">Shop Plans</a></p>
				</a-col>
				<a-col 
					:xs="24" :sm="8" :md="8" :lg="8" :xl="8" :xxl="8"
					style="margin: 0px"
					class="textFooterClass"
				>
					<h4 style="color: #fff; width: 100%">Follow us</h4>
					<a href="https://www.facebook.com/genchealth/" target="_blank" title="Facebook" style="font-size: 30px; color: #fff"><a-icon type="facebook" /></a>&nbsp;&nbsp;
					<a href="https://twitter.com/GenCLabs" target="_blank"  title="Twitter" style="font-size: 30px; color: #fff"><a-icon type="twitter" /></a>
				</a-col>
			</a-row>
			<a-row style="width: 100%; text-align: center; color: #fff; font-size: 15px; padding: 20px; border-top: 2px solid #a9a6a6">
				<span> © Copyright 2020 GenC Labs, Inc. All rights reserved</span>
			</a-row>
			
		</a-row>
	</section>
</template>

<script>

import { mapGetters } from 'vuex'


export default {
  components: {
    // ButtonOutline
  },
  data () {
    return {
		statecard: "",
		titleModalFindDoctorLocation: "",
		isdisplayFindDoctorsLocations: false,
    }
  },
  computed: {
    ...mapGetters({
      currentImage: 'promoted/getLandingPageImage'
    })
  },
	methods: {
		handClickFindeDoctorLocation() {
		  this.isdisplayFindDoctorsLocations = true;
		  this.titleModalFindDoctorLocation = 'Find Doctors & Locations';
		},
	}
}
</script>

<style lang="scss" scoped>

.footer-landing-page {
	@media (max-width: 767px) {
		.imgageFooterClass{
			width: 100% !important;
		}
		.textFooterClass{
			padding-left: 15px !important;
		}
		.footerClass{
			padding-top: 15px !important;
		}
	}

}



</style>
