<template>
	<section class="for-doctor-landing-page w-100 bg-cl-th-accent cl-white">
		
		<a-row>
			<a-row>
				<a-col 
					 :xs="24" :sm="24" :md="0" :lg="0" :xl="0"  :xxl="0" 
				>
					<img style="width: 100%" src="/assets/images_landingpage/design/for_doctor.png" />
				</a-col>
				<a-col :xs="24" :sm="24" :md="12" :lg="12" :xl="12"  :xxl="12" 
					style="padding: 2em 20px 0px 4em"
					class="forDoctorTextClass"
				>
					<span id="ForDoctorID"></span>
					<span style="width: 100%; font-size: 22px; font-weight: 500; color: #1ec1ad">
						For doctors
					</span>
					<h1 style="width: 100%;font-size: 40px; color: #000; font-weight: bold">
						Free Teledoc Space on GenC Platform
					</h1>
					<p style="width: 100%; font-size: 16px;color:#b1afaf; font-weight: 500">
						With a dedicated and private computing instance on GenC Health e-commerce and telehealth platform built for teledoc, you can deliver the next generation of telehealth, telemedicine, and remote care for your existing patients. Our dedicated business development team is a part of your business support team in screening new patients for your practice.
					</p>
					<a-button @click="this.showPanelForDoctor" type="primary" size="large" shape="round" style="border: none; background-color: #fe8c00; font-weight: 500">
						LEARN MORE
					</a-button>
				</a-col>
				<a-col 
					 :xs="0" :sm="0" :md="12" :lg="12" :xl="12"  :xxl="12" 
				>
					<img style="width: 100%" src="/assets/images_landingpage/design/for_doctor.png" />
				</a-col>
			</a-row>
			<a-row v-if="isShowPanelForDoctor" class="contentPanelForDoctorClass" style="width: 100%; padding: 4em">
				<a-row style="text-align: right; width:100%">
					<a style="font-size: 30px" @click="this.showPanelForDoctor"><a-icon type="close" /></a>
				</a-row>
				<a-row class="textContentPanelForDoctorClass" style="width:100%;  padding: 3em 20vw; background-color: #f2f7f9; padding-right: 10vw">
					<h2 style="width: 100%; color: #000; font-weight: bold">
						We believe that together we can improve the efficiency of health care
					</h2>
					<p style="width: 100%; font-size: 16px; color:#9a9797">
						At the core of GenCHealth's offering is the Teledoc Space clinical platform. 
						Teledoc Space provides virtual telehealth clinic and suport tools that integrate data 
						from GenC Labs&trade; devices, EHR, telehealth e-commerce platform, and our world-wide business and technical support 
						centers 24/7. With GenC Teledoc Space and GenC Labs&trade;, customers receive a holistic telehealth service that 
						extends the reach of care beyond the walls of brick-and-mortar clinical venues.
					</p>
					<h2 style="width: 100%; color: #000; font-weight: bold">
						GenC Health's Teledoc Space
					</h2>
					<a-row style="width: 100%">
						<a-form layout="inline" class="formFordoctorClass" style="width: 100%">
							<a-form-item   style="width:45%; padding: 15px">
								<a-input 
									placeholder="Your name"
									type="text"
									style="padding: 20px; border-radius: 20px; background-color: transparent"
								/>
							</a-form-item>
							<a-form-item   style="width:45%; padding: 15px">
								<a-input 
									placeholder="Your email"
									type="text"
									style="padding: 20px; border-radius: 20px; background-color: transparent"
								/>
							</a-form-item>
							<a-form-item  style="width:45%; padding: 15px">
								<a-input 
									placeholder="Your clinic"
									type="text"
									style="padding: 20px; border-radius: 20px; background-color: transparent"
									@change="this.onChangeInputStartMyTeledoc"
								/>
								<span v-if="startMyTeledoc != '' && startMyTeledoc.length < 4 && fetchInputMyTeledoc " style="color: red">The requested name is not available!</span>
								<span v-if="startMyTeledoc != '' && startMyTeledoc.length >4 && fetchInputMyTeledoc " style="color: green">The requested name is available!</span>
							</a-form-item>
							<a-form-item style="width:45%; padding: 15px">
								<a-input 
									placeholder="yourclinic.genc.health"
									type="text"
									disabled style="padding: 20px; border-radius: 20px; background-color: transparent"
									v-model= "valueOfInputMyTeledoc"
								/>
							</a-form-item>
							
							<div class="ant-row ant-form-item" style=" textAlign:center; justify-content: center; align-items: center; width: 100%; padding: 2em">
								<a-button class="startMyTeledocSpaceClass" @click="this.handleClickTryGenC" type="primary" size="large" shape="round" style="border: none; background-color: #fe8c00;font-weight: 500; padding: 10px 5em; height: 50px" > Start My Teledoc Space</a-button>
							</div>
						</a-form>
					</a-row>
				</a-row>
			</a-row>
			<a-modal
				:title="titleModalFindDoctorLocation"
				v-model="isdisplayFindDoctorsLocations"
				@cancel="this.handleCancelModalForDoctor"
				:footer="null"
				class="modalFindDoctorsLocationsClass"
				:destroyOnClose="true"
			>
				<a-row style="width: 100%;" className="displayFindDoctorsLocationsClass">
					<p style="color: red">
						<i>If you do not have a GenC Health User Id, please chat with our online support team for a signup link.</i>
					</p>
					<a-row style="width: 100%">
						<a-input size="large" placeholder="GenC Health User Id" @change="this.onchangeInputModalFindDoctorLocation" />
					</a-row>
					<a-row style="width: 100%; padding: 2em">
						<a-col 
							:xs="12" :sm="12" :md="12" :lg="12" :xl="12" :xxl="12"
						>
							<a-checkbox @change="this.onChangeRecaptcha" >I'm not a robot</a-checkbox>
						
						</a-col>
						<a-col 
							:xs="12" :sm="12" :md="12" :lg="12" :xl="12" :xxl="12"
							style="text-align: center"
						>
							<a-spin v-if="isCheckReCapchaCheckbox"/>
							<img v-if="!isCheckReCapchaCheckbox" shape="square" style="width: 50%" src="/assets/images_landingpage/design/recaptcha.jpg" />
						</a-col>
					</a-row>
					<h5 v-if="!isCheckReCapchaCheckbox && isClickCheckReCapchaCheckbox && (valueInputFindDoctorLocation == null || valueInputFindDoctorLocation == '')" style="color: red">Error: Input is require</h5>
					<h5 v-if="!isCheckReCapchaCheckbox && isClickCheckReCapchaCheckbox && (valueInputFindDoctorLocation != null && valueInputFindDoctorLocation != '')" style="color: red">Error: GenC Health's record not found!</h5>
				</a-row>
			</a-modal>
		</a-row>
	</section>
</template>

<script>

import { mapGetters } from 'vuex'


export default {
  components: {
    // ButtonOutline
  },
  data () {
    return {
		titleModalFindDoctorLocation: "",
		valueInputFindDoctorLocation: "",
		startMyTeledoc: "",
		valueOfInputMyTeledoc: "",
		isShowPanelForDoctor: false,
		isdisplayFindDoctorsLocations: false,
		isClickCheckReCapchaCheckbox: false,
		isCheckReCapchaCheckbox: false,
		fetchInputMyTeledoc: false,
    }
  },
  computed: {
    ...mapGetters({
      currentImage: 'promoted/getLandingPageImage'
    })
  },
	methods: {
		
		showPanelForDoctor() {
		  this.isShowPanelForDoctor = !this.isShowPanelForDoctor;
		},
		handleClickTryGenC() {
		  this.isdisplayFindDoctorsLocations = true;
		  this.titleModalFindDoctorLocation = 'Start My Teledoc Space';
		},
		handleCancelModalForDoctor(){
			this.isdisplayFindDoctorsLocations = false;
			this.isClickCheckReCapchaCheckbox= false;
		},
		onchangeInputModalFindDoctorLocation(event){
			if(event != undefined && event != null && event.target.value != undefined){
				this.valueInputFindDoctorLocation = event.target.value;
			}
		},
		onChangeRecaptcha(e) {
			if(e != undefined && e.target.checked){
				this.isCheckReCapchaCheckbox= !this.isCheckReCapchaCheckbox;
				this.isClickCheckReCapchaCheckbox = true;
				if(this.isCheckReCapchaCheckbox){
					
					setTimeout(this.isCheckReCapchaCheckbox= !this.isCheckReCapchaCheckbox, 3000)
				}
				
			}
		},
		onChangeInputStartMyTeledoc(event){
			
			let texts = event.target.value;
			this.fetchInputMyTeledoc = false;
			if(texts != undefined && texts != null){
				this.startMyTeledoc = texts;
			}
			if(this.startMyTeledoc.length > 3 || texts==""){
				this.fetchInputMyTeledoc = false;
				this.valueOfInputMyTeledoc = this.startMyTeledoc+".genc.health";
			}else{
				this.fetchInputMyTeledoc = true;
				this.valueOfInputMyTeledoc = "yourclinic.genc.health";
			}
			
		}
		
	}
}
</script>

<style lang="scss" scoped>
.bg-cl-th-accent{
	background-color: #f8fcff
}
.for-doctor-landing-page {
	@media (max-width: 767px) {
		.forDoctorTextClass{
			padding: 15px !important;
		}
		.textContentPanelForDoctorClass{
			padding: 15px !important;
		}
		.contentPanelForDoctorClass{
			padding: 15px !important;
		}
		.formFordoctorClass .ant-form-item{
			width: 90% !important;
		}
		.startMyTeledocSpaceClass{
			padding: 10px 10vw !important;
		}
	}

  
}


@media (max-width: 75em) {
  .head-landing-page {
    height: 400px;
  }
  .title {
    font-size: 50px;
  }
 
}
@media (max-width: 64em) {
  .head-landing-page {
    height: 359px;
  }
  .container {
    background-position: left;
  }
 
  
}


</style>
<style>

.formFordoctorClass .ant-form-item-control-wrapper{
	width: 100% !important;
}
</style>
