<template>
	<section class="head-landing-page w-100 bg-cl-th-accent cl-white">
		<a-row>
			<a-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24" :xxl="24">
				<a-row class="headerSearchLanding" v-lazy:background-image="currentImage.Corona_Virus.image">
					<a-col :xs="16" :sm="19" :md="19" :lg="19" :xl="20" :xxl="20"
						style="padding: 0px"
						class="collapsCoronaClass" 
					>
						<div v-if="isShowPanelSearchNews">
							<a-select
								show-search
								:value="value"
								placeholder="Search"
								style="width: 100%; background-color: transparent; height: 100%"
								:default-active-first-option="false"
								:show-arrow="false"
								:filter-option="false"
								:not-found-content="null"
								@search="handleSearch"
								@change="handleChangeSearch"
								:size="large"
							>
								<a-select-option v-for="d in data" :key="d.value">
								  {{ d.text }}
								</a-select-option>
							</a-select>
						</div>
						<div v-if="!isShowPanelSearchNews">
							<a-collapse accordion>
								<a-collapse-panel key="1" header="CORONAVIRUS/COVID-19: Learn how to protect yourself and get care.">
									<a-collapse accordion>
										<a-collapse-panel key="2" header="What are the symptoms?">
											<p>Patients with COVID-19 have had mild to severe symptoms of fever, cough, or shortness of breath — similar to the flu.
													They've also experienced chills or shaking with chills, muscle pain, headache, sore throat, and loss of sense of smell or taste. 
													While information so far indicates that most cases are mild, symptoms appear to be more severe in the elderly and people with chronic conditions. 
													Most people who get it will not need to visit their doctor and will recover on their own.</p>
										</a-collapse-panel>
									
										<a-collapse-panel key="3" header="Should I get tested for COVID-19?">
											<p>{{ text }}</p>
										</a-collapse-panel>
									
										<a-collapse-panel key="4" header="What are the symptoms?">
											<p>GenC online staffs are prepared to help you to find the nearest COVID-19 testing site if necessary. 
												If you're worried that you or a family member are showing symptoms of COVID-19, please do not hesitate to chat or setup a video conference call with us.
												We do whatever we can to save you and your family time to get tested for COVID-19.
											</p>
										</a-collapse-panel>
									
										<a-collapse-panel key="5" header="How does COVID-19 spread?">
											<p>Coronavirus is spread from person to person — mainly between people who are in close contact with one another (within about 6 feet) — through tiny droplets made when an infected person coughs or sneezes.
												It’s possible, but not likely, that a person can get COVID-19 by touching a surface or object that has the virus on it and then touching their own mouth, nose, or possibly eyes. 
												It’s important to wash your hands often with soap and water for at least 20 seconds.
											</p>
										</a-collapse-panel>
									
										<a-collapse-panel key="6" header="How can I make a face mask?">
											<p>
											To help protect yourself and others when you leave home for groceries or other essential items, you can make a simple face mask using towels, scarves, or T-shirts.
											If you have a sewing machine, you can make masks using our step-by-step instructions or instructional video. 
											If you have an appointment and need to come in to one of our facilities, we encourage you to wear your mask.
											</p>
										</a-collapse-panel>
									
										<a-collapse-panel key="7" header="I’m pregnant. How does COVID-19 affect me and my baby?">
											<p>
												COVID-19 is a new disease, so information on how the virus affects pregnant women is limited. Based on the most current information from the Centers for Disease Control and Prevention, pregnant women don’t appear to be more likely to get infected with COVID-19 than other people.
												Current reports also show that pregnant women who get the virus don’t have more severe symptoms than the general public. At this time, we don’t know if the virus can be transmitted during pregnancy or childbirth.
												<br/><br/>
												For more information on how COVID-19 could affect you or your care if you’re pregnant, do not hesitate to chat and setup a video call with our online staffs so we can guide you to the needed resources.
											</p>
										</a-collapse-panel>
									</a-collapse>
								</a-collapse-panel>
							</a-collapse>
						</div>
					</a-col>
					<a-col 
						:xs="4" :sm="3" :md="3" :lg="3" :xl="2" :xxl="2"
						style="padding: 10px 0px;padding-right: 5px;"
					>
						<a-row v-if="isShowPanelSearchNews">
							<a-button 
								@click="showHidePanelSearch"
								type="link" 
								icon="close"
								style="color:#fff; width: 100%"
							/>
						</a-row>
						
						<a-row v-if="!isShowPanelSearchNews">
							<a-button 
								type="link" icon="search"
								@click="showHidePanelSearch"
								style="color:#fff; width: 100%; border: 1px solid #fff; border-radius: 10px"
							>
								<span class="textButtonSearchClass">Search</span>
							</a-button>
						</a-row>
						
					</a-col>
					<a-col 
						:xs="4" :sm="2" :md="2" :lg="2" :xl="2" :xxl="2"
					>
						<a-select default-value="en" class="selectionLanguageClass"  style="width: 100%; height: 4em; margin: 0px">
							<a-select-option value="vi">
								VI
							</a-select-option>
							<a-select-option value="en">
								EN
							</a-select-option>
						</a-select>
					</a-col>
				</a-row>
			</a-col>
		</a-row>
		<a-row>
			<a-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24" :xxl="24">
				<a-col 
					:xs="12" :sm="12" :md="7" :lg="7" :xl="7" :xxl="6"
					style="text-align: center; margin: 0px; padding: 10px; padding-left: 5vw"
				>
					<a href="/">
						<img shape="square" style="width: 100%" src="/assets/images_landingpage/design/Logo.png" />
					</a>
				</a-col>
				<a-col class="tabRightHeaderClass" 
					:xs="12" :sm="12" :md="17" :lg="17" :xl="17" :xxl="18"
					style="text-align: right; margin: 0px; padding: 15px; padding-right: 2vw"
				>
					<a-select class="selectionrefionClass" 
						default-value="Choose your region"" style="width: 20vw;margin-right: 10px"
					>
						<a-select-option value="Choose your region">Choose your region</a-select-option>
						<a-select-opt-group label="North America">
							<a-select-option value="Arizona">Arizona, US</a-select-option>
							<a-select-option value="California">California, US</a-select-option>
							<a-select-option value="Utah">Utah, US</a-select-option>
						  
						</a-select-opt-group>
						<a-select-opt-group label="Southeast Asia">
							<a-select-option value="Singapore">Singapore</a-select-option>
							<a-select-option value="Vietnam">Vietnam</a-select-option>
						</a-select-opt-group>
					</a-select>
					<a-button @click="this.showModalSignIn" type="primary" shape="round" size="large" class="buttonSignInClass">
						Sign in
					</a-button>
					<a-modal 
						v-model="visibleModalSignIn"
						@cancel="handleCancelModalSignIn" 
						@ok="handleOkModalSignIn" 
						:footer="null"
						title="Login to Your GenC Space"
						class="modalSignInClass"
					>
						<p><b>Enter your email address and password.</b></p>
						<a-form layout="inline" class="formSignInClass" style="width: 100%" :form="form">
							<a-form-item style="width:100%; padding: 15px">
								<a-input ref="emailInput"  placeholder="Email">
									<a-icon slot="prefix" type="mail" />
								</a-input>
							</a-form-item>
							<a-form-item  style="width:100%; padding: 15px">
								<a-input-password ref="passwordInput"  placeholder="password">
									<a-icon slot="prefix" type="lock" />
								</a-input-password>
							</a-form-item>
							<p style="padding: 0px 15px"><a href="#">Forgot your password?</a></p>
							<div class="ant-row ant-form-item" style=" text-align:center; justify-content: center; align-items: center; width: 100%; padding: 1em">
								<a-button 
									type="primary" block 
									style="border: none; background-color: #009387; font-weight: 500px; border-radius: 5px"
								> 
									Log in
								</a-button>
							</div>
							<div>
								<a href="#"  style="padding: 15px">Don't have an account yet? Create your GenC Space</a>
							</div>
						</a-form>
					</a-modal>
				</a-col>
			</a-col>
			
		</a-row>
	</section>
</template>

<script>

import { mapGetters } from 'vuex'
import jsonp from 'fetch-jsonp';
import querystring from 'querystring';

let timeout;
let currentValue;

function fetch(value, callback) {
  if (timeout) {
    clearTimeout(timeout);
    timeout = null;
  }
  currentValue = value;

  function fake() {
    const str = querystring.encode({
      code: 'utf-8',
      q: value,
    });
    jsonp(`https://suggest.taobao.com/sug?${str}`)
      .then(response => response.json())
      .then(d => {
        if (currentValue === value) {
          const result = d.result;
		  console.log(result,"aaaaaaaaaa", d);
          const data = [];
          result.forEach(r => {
            data.push({
              value: r[0],
              text: r[0],
            });
          });
          callback(data);
        }
      });
  }

  timeout = setTimeout(fake, 300);
}

export default {
  components: {
    // ButtonOutline
  },
  data () {
    return {
		data: [],
		value: undefined,
		statecard: "",
		titleModalFindDoctorLocation: "",
		isShowPanelForDoctor: false,
		isShowPanel: false,
		isdisplayFindDoctorsLocations: false,
		isShowPanelSearchNews: false,
		visibleModalSignIn: false,
    }
  },
  computed: {
    ...mapGetters({
      currentImage: 'promoted/getLandingPageImage'
    })
  },
	methods: {
		showHidePanelSearch () {
			this.isShowPanelSearchNews = !this.isShowPanelSearchNews
		},
		showPanelForDoctor() {
		  this.isShowPanelForDoctor = !this.isShowPanelForDoctor;
		},
		showModalSignIn() {
		  this.visibleModalSignIn = true;
		},
		handleOkModalSignIn(e) {
		  console.log(e);
		  this.visibleModalSignIn = false;
		},
		handleCancelModalSignIn(e) {
		  console.log(e);
		  this.visibleModalSignIn = false;
		},
		handleClickTryGenC(status, str) {
		  this.isdisplayFindDoctorsLocations = status;
		  this.titleModalFindDoctorLocation = str;
		},
		onclickCard(statecard){
			if(!this.isShowPanel){
				this.isShowPanel = !this.isShowPanel
			}
			this.statecard = statecard
			console.log(this.statecard);
		},
		hidePanelCard(){
			this.isShowPanel = false
		},
		handleSearch(value) {
			fetch(value, data => (this.data = data));
		},
		handleChangeSearch(value) {
			console.log(value);
			this.value = value;
			fetch(value, data => (this.data = data));
		},
	}
}
</script>

<style lang="scss" scoped>
.bg-cl-th-accent{
	background-color: #f8fcff
}
.head-landing-page {
	@media (max-width: 767px) {
		.textButtonSearchClass{
			display: none;
		}
		.buttonSignInClass{
			height: 30px !important;
			padding: 0 10px;
			font-size: 12px;
		}
		.tabRightHeaderClass{
			padding: 5px;
		}
	}

  .head-landing-page-content {
    flex-direction: column;
    align-items: flex-start;
    margin-left: 15%;

    .title {
      font-size: 3.4rem;
      margin-bottom: 0;
    }

    .subtitle {
      font-size: 0.8rem;
      max-width: 340px;
      font-family: 'Roboto', sans-serif;
      line-height: 1.2rem;
    }
  }
}


.container {
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
}

@media (max-width: 75em) {
  
  .title {
    font-size: 50px;
  }
  .subtitle {
    font-size: 20px;
  }
 
}
@media (max-width: 64em) {
  
  .textButtonSearchClass{
	display: none;
  }
 
}


.headerSearchLanding{
	padding-right: 0px;
	background-color: #fe8c00;
	width: 100%;
}

.collapsCoronaClass .ant-collapse-content{
	background-color: transparent !important;
	border: none !important;
}
.collapsCoronaClass .ant-collapse > .ant-collapse-item{
	border-bottom: none !important;

}
.collapsCoronaClass .ant-collapse{
	background-color: transparent !important;
    border-right: none !important;
}


</style>
<style>
.modalSignInClass .ant-modal-header{
	border-bottom: none !important;
	text-align: center;
}
.modalSignInClass .ant-modal-title{
	font-size: 18px;
	font-weight: bold !important;
}
.formSignInClass .ant-input{
	padding: 20px 30px; 
}
.formSignInClass .ant-form-item-control-wrapper{
	width: 100%;
}
.collapsCoronaClass  .ant-select-selection, .collapsCoronaClass  .ant-select-selection__rendered{
	height: 4em;
    border: none;
}
.collapsCoronaClass .ant-collapse-header{
	color: #fff !important;
    font-size: 1.5vw;
    font-weight: bold;
}
.selectionLanguageClass .ant-select-arrow, .selectionLanguageClass .ant-select-selection {
	color: #fff;
    font-weight: bold;
}
.selectionLanguageClass .ant-select-selector, .selectionLanguageClass .ant-select-selection {
	height: 100% !important;
    padding: 10px 0px !important;
    font-size: 18px !important;
	background-color: transparent !important;
	color: #fff !important;
    font-weight: bold !important;
	border: none !important;
    border-left: 1px solid #fff !important;
}

 .selectionLanguageClass .ant-select-selector, .selectionLanguageClass .ant-select-selection {
	padding-top: 15px !important;
	text-align: center !important;
}
</style>