<template>
	<section class="landing-page w-100 bg-cl-th-accent cl-white">
		<a-row>
			<head-landing-page />
			<try-gen-c-landing-page />
			<for-doctor-landing-page />
			<about-gen-c-landing-page />
			<before-traveling-landing-page />
			<while-traveling-landing-page />
			<footer-landing-page />
		
		</a-row>
	</section>
</template>

<script>

import { mapGetters } from 'vuex'
import HeadLandingPage from 'theme/components/core/blocks/LandingPage/HeadLandingPage'
import TryGenCLandingPage from 'theme/components/core/blocks/LandingPage/TryGenCLandingPage'
import ForDoctorLandingPage from 'theme/components/core/blocks/LandingPage/ForDoctorLandingPage'
import AboutGenCLandingPage from 'theme/components/core/blocks/LandingPage/AboutGenCLandingPage'
import BeforeTravelingLandingPage from 'theme/components/core/blocks/LandingPage/BeforeTravelingLandingPage'
import WhileTravelingLandingPage from 'theme/components/core/blocks/LandingPage/WhileTravelingLandingPage'
import FooterLandingPage from 'theme/components/core/blocks/LandingPage/FooterLandingPage'

export default {
	components: {
		HeadLandingPage,
		TryGenCLandingPage,
		ForDoctorLandingPage,
		AboutGenCLandingPage,
		BeforeTravelingLandingPage,
		WhileTravelingLandingPage,
		FooterLandingPage,
	},
  data () {
    return {
		statecard: "",
    }
  },
  computed: {
    ...mapGetters({
    })
  },
	methods: {
		
	}
}
</script>

<style lang="scss" scoped>

</style>
