<template>
	<section class="try-gen-c-landing-page w-100 bg-cl-th-accent cl-white">
		<a-row class="tabpanelClassname" style="width: 100%" v-lazy:background-image="currentImage.BG.image">
			<a-col  :xs="24" :sm="24" :md="24" :lg="24" :xl="24"  :xxl="24" 
				style=" margin: 0px; padding: 10px; padding-left: 5vw"
				class="tabpanelclass"
			>
				<a-tabs default-active-key="tabs1"  @tabClick="this.clickTabs" >
					<a-tab-pane tab="Welcome to GenC" key="tabs1">
						
					</a-tab-pane>
					<a-tab-pane tab="For Doctors" key="tabs2">

					</a-tab-pane>
					<a-tab-pane tab="About Us" key="tabs3">

					</a-tab-pane>
					<a-tab-pane tab="Before Traveling" key="tabs4">

					</a-tab-pane>
					<a-tab-pane tab="While Traveling" key="tabs5">

					</a-tab-pane>
					
				</a-tabs>
			</a-col>
			<a-col 
				:xs="24" :sm="24" :md="24" :lg="24" :xl="24"  :xxl="24" 
				style="text-align: center; width: 100%;padding-bottom: 42em"
			>
				<span id="WelcometoGenCID"></span>
				<a-row style="width: 100%;padding: 5vh 0px; padding-top: 10vh;">
					<span style="font-weight: bold; font-size: 25px;  width: 100%;color: #fff">
						Assistance and Care for Your Health and <br/>
						Peace of Mind While Traveling
					</span>
				</a-row>
				<a-row style="width: 100%; justify-content: center; align-items: center">
					<a-button 
					
						@click="this.handleClickTryGenC"
						type="primary" shape="round" 
						size="large" 
						style="border: none; background-color: #fe8c00; font-weight: 500"
					>
						Try GenC 24/7 Emergency Support
					</a-button>
				</a-row>
			</a-col>
			
			<a-modal
				:title="titleModalFindDoctorLocation"
				v-model="isdisplayFindDoctorsLocations"
				@cancel="this.handleCancelModalForDoctor"
				:footer="null"
				class="modalFindDoctorsLocationsClass"
				:destroyOnClose="true"
			>
				<a-row style="width: 100%;" className="displayFindDoctorsLocationsClass">
					<p style="color: red">
						<i>If you do not have a GenC Health User Id, please chat with our online support team for a signup link.</i>
					</p>
					<a-row style="width: 100%">
						<a-input size="large" placeholder="GenC Health User Id" @change="this.onchangeInputModalFindDoctorLocation" />
					</a-row>
					<a-row style="width: 100%; padding: 2em">
						<a-col 
							:xs="12" :sm="12" :md="12" :lg="12" :xl="12" :xxl="12"
						>
							<a-checkbox @change="this.onChangeRecaptcha" >I'm not a robot</a-checkbox>
						
						</a-col>
						<a-col 
							:xs="12" :sm="12" :md="12" :lg="12" :xl="12" :xxl="12"
							style="text-align: center"
						>
							<a-spin v-if="isCheckReCapchaCheckbox"/>
							<img v-if="!isCheckReCapchaCheckbox" shape="square" style="width: 50%" src="/assets/images_landingpage/design/recaptcha.jpg" />
						</a-col>
					</a-row>
					<h5 v-if="!isCheckReCapchaCheckbox && isClickCheckReCapchaCheckbox && (valueInputFindDoctorLocation == null || valueInputFindDoctorLocation == '')" style="color: red">Error: Input is require</h5>
					<h5 v-if="!isCheckReCapchaCheckbox && isClickCheckReCapchaCheckbox && (valueInputFindDoctorLocation != null && valueInputFindDoctorLocation != '')" style="color: red">Error: GenC Health's record not found!</h5>
				</a-row>
			</a-modal>
			
		</a-row>
	</section>
</template>

<script>

import { mapGetters } from 'vuex'


export default {
  components: {
    // ButtonOutline
  },
  data () {
    return {
		titleModalFindDoctorLocation: "",
		isdisplayFindDoctorsLocations: false,
		valueInputFindDoctorLocation: "",
		isClickCheckReCapchaCheckbox: false,
		isCheckReCapchaCheckbox: false,
		fetchInputMyTeledoc: false,
    }
  },
  computed: {
    ...mapGetters({
      currentImage: 'promoted/getLandingPageImage'
    })
  },
	methods: {
		
		handleClickTryGenC() {
		  this.isdisplayFindDoctorsLocations = true;
		  this.titleModalFindDoctorLocation = 'Try GenC 24/7 Emergency Support';
		},
		handleCancelModalForDoctor(){
			this.isdisplayFindDoctorsLocations = false;
			this.isClickCheckReCapchaCheckbox= false;
		},
		onChangeRecaptcha(e) {
			if(e != undefined && e.target.checked){
				this.isCheckReCapchaCheckbox= !this.isCheckReCapchaCheckbox;
				this.isClickCheckReCapchaCheckbox = true;
				if(this.isCheckReCapchaCheckbox){
					
					setTimeout(this.isCheckReCapchaCheckbox= !this.isCheckReCapchaCheckbox, 3000)
				}
				
			}
		},
		onchangeInputModalFindDoctorLocation(event){
			if(event != undefined && event != null && event.target.value != undefined){
				this.valueInputFindDoctorLocation = event.target.value;
			}
		},
		clickTabs(e){
			console.log("eeeee", e);
			if(e == "tabs1"){
				window.location.replace("http://localhost:3000/#"+"WelcometoGenCID");
			}else if(e == "tabs2"){
				window.location.replace("http://localhost:3000/#"+"ForDoctorID");
			}else if(e == "tabs3"){
				window.location.replace("http://localhost:3000/#"+"AboutUsID");
			}else if(e == "tabs4"){
				window.location.replace("http://localhost:3000/#"+"BeforTravelingID");
			}else if(e == "tabs5"){
				window.location.replace("http://localhost:3000/#"+"WhileTravelingID");
			}
		}
	}
}
</script>

<style lang="scss" scoped>
.bg-cl-th-accent{
	background-color: #f8fcff
}
.try-gen-c-landing-page {
	@media (max-width: 767px) {
		
		.tabpanelclass .ant-tabs-nav, .tabpanelclass .ant-tabs-nav a{
			font-size: 14px;
		}
		.tabpanelclass .ant-tabs-ink-bar {
			width: 50px;
		}
	}  
}


@media (max-width: 75em) {
  .head-landing-page {
    height: 400px;
  }
  .title {
    font-size: 50px;
  }
 
}
@media (max-width: 64em) {
  .head-landing-page {
    height: 359px;
  }
  .container {
    background-position: left;
  }
  .title {
    font-size: 48px;
  }
  
}
</style>
<style>
.tabpanelclass .ant-anchor-link-title-active{
	color: #fff !important;
	font-weight: bold !important;
	border-bottom: 3px solid #fff;
}
.tabpanelclass .ant-anchor-link a{
	color: #d1f9f3;
	font-size: 18px;
    font-weight: bold;
	padding-bottom: 5px;
}
.tabpanelclass .ant-anchor-link{
	padding: 7px 16px 7px 0px;
}
.tabpanelclass .ant-anchor-ink{
	display: none !important;
}
.tabpanelclass .ant-anchor{
	display: inline-flex;
	padding-left: 3em !important;
}
.tabpanelclass .ant-anchor-wrapper{
	background-color: #1aaf9c;
}
.tabpanelclass .ant-tabs-ink-bar {
	width: 50px;
    height: 3px;
	background-color: #fff;
}
.tabpanelclass .ant-tabs-nav, .tabpanelclass .ant-tabs-nav a{
	font-weight: bold;
	font-size: 18px;
	color: #d1f9f3;
}
.tabpanelclass .ant-tabs-tab-next, .tabpanelclass .ant-tabs-tab-prev{
	color: #fff !important;
}
.tabpanelclass .ant-tabs-bar{
	border-bottom: none;
}
.tabpanelClassname{
	background-repeat: no-repeat !important;
	background-size: 100% 100%  !important;
}

.tabpanelClassname .ant-tabs-tab-active, .tabpanelClassname .ant-tabs-tab-active a{
	color: #fff !important;
	font-weight: bold !important;
}


</style>
