<template>
	<section class="while-traveling-landing-page w-100 bg-cl-th-accent cl-white">
		<a-row style="padding: 0px 5vw">
			<a-col 
				:xs="24" :sm="12" :md="12" :lg="12" :xl="12" :xxl="12"
				style="margin: 0px; padding: 3em 15px"
			>
				<span id="WhileTravelingID"></span>
				<span style="width: 100%; font-size: 18px; font-weight: 500; color: #1ec1ad">
					While traveling
				</span>
				<h1 style="width: 100%; font-size: 45px; color: #000; font-weight: bold">
					Doctors and Locations
				</h1>
				<p style="width: 100%; font-size: 16px; color:#b1afaf; font-weight: 500">
					GenC Health 24/7 emergency support staffs are trained to help you find top-notch doctors, pharmacies, and Intensive Care Units - ICUs near you.
				</p>
				<a-button type="primary" @click="this.handClickFindeDoctorLocation" shape="round" size="large" style="border: none; background-color: #fe8c00; font-weight: 500">
					Find Doctors & Locations
				</a-button>
			
			</a-col>
			<a-col 
				:xs="24" :sm="12" :md="12" :lg="12" :xl="12" :xxl="12"
				style="margin: 0px"
			>
				<img src="/assets/images_landingpage/design/Doctor&Locations.png" style="width: 100%; padding: 3em"/>
			</a-col>
			<a-modal
				:title="titleModalFindDoctorLocation"
				v-model="isdisplayFindDoctorsLocations"
				@cancel="this.handleCancelModalForDoctor"
				:footer="null"
				class="modalFindDoctorsLocationsClass"
				:destroyOnClose="true"
			>
				<a-row style="width: 100%;" className="displayFindDoctorsLocationsClass">
					<p style="color: red">
						<i>If you do not have a GenC Health User Id, please chat with our online support team for a signup link.</i>
					</p>
					<a-row style="width: 100%">
						<a-input size="large" placeholder="GenC Health User Id" @change="this.onchangeInputModalFindDoctorLocation" />
					</a-row>
					<a-row style="width: 100%; padding: 2em">
						<a-col 
							:xs="12" :sm="12" :md="12" :lg="12" :xl="12" :xxl="12"
						>
							<a-checkbox @change="this.onChangeRecaptcha" >I'm not a robot</a-checkbox>
						
						</a-col>
						<a-col 
							:xs="12" :sm="12" :md="12" :lg="12" :xl="12" :xxl="12"
							style="text-align: center"
						>
							<a-spin v-if="isCheckReCapchaCheckbox"/>
							<img v-if="!isCheckReCapchaCheckbox" shape="square" style="width: 50%" src="/assets/images_landingpage/design/recaptcha.jpg" />
						</a-col>
					</a-row>
					<h5 v-if="!isCheckReCapchaCheckbox && isClickCheckReCapchaCheckbox && (valueInputFindDoctorLocation == null || valueInputFindDoctorLocation == '')" style="color: red">Error: Input is require</h5>
					<h5 v-if="!isCheckReCapchaCheckbox && isClickCheckReCapchaCheckbox && (valueInputFindDoctorLocation != null && valueInputFindDoctorLocation != '')" style="color: red">Error: GenC Health's record not found!</h5>
				</a-row>
			</a-modal>
		</a-row>
	</section>
</template>

<script>

import { mapGetters } from 'vuex'


export default {
  components: {
    // ButtonOutline
  },
  data () {
    return {
		statecard: "",
		titleModalFindDoctorLocation: "",
		valueInputFindDoctorLocation: "",
		isdisplayFindDoctorsLocations: false,
		isClickCheckReCapchaCheckbox: false,
		isCheckReCapchaCheckbox: false,
		fetchInputMyTeledoc: false,
    }
  },
  computed: {
    ...mapGetters({
      currentImage: 'promoted/getLandingPageImage'
    })
  },
	methods: {
		handClickFindeDoctorLocation() {
		  this.isdisplayFindDoctorsLocations = true;
		  this.titleModalFindDoctorLocation = 'Find Doctors & Locations';
		},
		handleCancelModalForDoctor(){
			this.isdisplayFindDoctorsLocations = false;
			this.isClickCheckReCapchaCheckbox= false;
		},
		onChangeRecaptcha(e) {
			if(e != undefined && e.target.checked){
				this.isCheckReCapchaCheckbox= !this.isCheckReCapchaCheckbox;
				this.isClickCheckReCapchaCheckbox = true;
				if(this.isCheckReCapchaCheckbox){
					
					setTimeout(this.isCheckReCapchaCheckbox= !this.isCheckReCapchaCheckbox, 3000)
				}
				
			}
		},
		onchangeInputModalFindDoctorLocation(event){
			if(event != undefined && event != null && event.target.value != undefined){
				this.valueInputFindDoctorLocation = event.target.value;
			}
		},
	}
}
</script>

<style lang="scss" scoped>
.bg-cl-th-accent{
	background-color: #f8fcff
}
.head-landing-page {
  display: none;
  @media (min-width: 767px) {
    display: inherit;
  }

}

@media (max-width: 75em) {
  .head-landing-page {
    height: 400px;
  }
  .title {
    font-size: 50px;
  }
  
}
@media (max-width: 64em) {
  .head-landing-page {
    height: 359px;
  }
  .container {
    background-position: left;
  }
  
}


</style>
